{% extends "text_base.html" %}

{% block title %}
Confirm your email address {# Not working with include statement #}
{% endblock title %}

{% block main %}

Hi {{ name }}, and welcome to Archypix!
We're excited to have you on board. Before you can start using your account, we just need to confirm your email address.

Confirm your email address at this link: {{ url }}
Or use this one-time code: {{ code }}

This link and code will expire in 15 minutes.

{% endblock main %}


{% block footerunsubscribe %}
{% endblock footerunsubscribe %}
