{% extends "text_base.html" %}

{% block title %}
Sign in request {# Not working with include statement #}
{% endblock title %}

{% block main %}

Welcome back {{ name }}!

Login to your account at this link: {{ url }}
Or use this one-time code: {{ code }}

This link and code will expire in 15 minutes.

{% endblock main %}

{% block footermessage %}
If you did not request this, please log in to your account, disconnect all devices and change your password.
{% endblock footermessage %}

{% block footerunsubscribe %}
{% endblock footerunsubscribe %}
